# .env.example – نمونه‌ای از متغیرهای محیطی برای پروژه
# این فایل را کپی کنید به .env و مقادیر دلخواه خود را تنظیم کنید.

DEBUG=False
SECRET_KEY=your-secret-key
# PostgreSQL connection – سرویس db در Docker
DATABASE_URL=postgres://postgres:yourpassword@db:5432/yourdbname
ALLOWED_HOSTS=localhost,127.0.0.1
# Redis service در Docker
REDIS_URL=redis://redis:6379/1
# Celery broker و backend (از همان Redis استفاده می‌شود)
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
