{% load admin_list %}

{% if actions_on_top %}
    {% if cl.search_fields or action_form or cl.has_filters %}
        {# We removed right-0 from classes to handle positioning entirely via x-bind:style based on RTL/LTR #}
        <div class="bottom-0 hidden group-has-[input.action-select:checked]:flex fixed gap-3 lg:bottom-0 lg:h-[64px] items-center p-3 z-50 lg:flex-row" 
             {% if not is_popup %}
             x-bind:style="document.documentElement.dir === 'rtl' ? { right: sidebarOpen ? sidebarWidth + 'px' : '0px', left: '0px' } : { left: sidebarOpen ? sidebarWidth + 'px' : '0px', right: '0px' }"
             {% endif %}>
            <div id="changelist-actions-wrapper" class="grow group changelist-actions">
                {% if action_form %}
                    {% admin_actions %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endif %}
